[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BoundaryStats"]
	path = BoundaryStats
	url = https://github.com/aluo734/boundarystats
